* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #222;
  height: 100vh;
}

.countuner {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #33333317;
}

.countuner h2 {
  font-size: 40px;
  font-weight: 1000;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}

.countuner .list {
  width: 80%;
}

.list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 6px;
}

.list ul li p {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
}

.list ul li button {
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background: #ff0000be;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.list ul li #edit,
#addList {
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background: rgba(0, 0, 255, 0.501);
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.addTolist {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
li div button{
  margin:0 2px;
}

.addTolist #taskName {
  border: none;
  border-radius: 4px;
  width: 380px;
  height: 30px;
  padding: 8px;
}

#addList {
  height: 50px;
  width: 100px;
  cursor: pointer;
}
#addList:hover {
  background-color: rgba(0, 0, 255, 0.819);
}

select#priority ,#filterByPriority{
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

select#priority:hover {
  background-color: #e9e9e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select#priority:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  border-color: #007bff;
}
.high {
  background-color: rgba(255, 0, 0, 0.493);
}
.medium {
  background-color: rgba(246, 255, 0, 0.795);
}

.low {
  background-color: rgba(127, 230, 113, 0.264);
}
.complete{
background-color: rgb(30, 255, 0);
}
label{
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.hideButton {
  display: none;
}